html, body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

div{
    margin: 10px;
}

/* CSS code for preloader starts here */

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: #000;*/
    margin: 0;
    transition: 1s;
}

.preloader:before{
    content: '';
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete:before{
    left: -50%;
}

.preloader:after{
    content: '';
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: #000;
    transition: 1s;
}

.preloader.complete:after{
    right: -50%;
}

/* CSS code for preloader ends here */


/* CSS code for preloader logo starts here */

.logo{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 3px solid #fff;
    animation: animate 2s linear infinite;
    z-index: 10000;
}

.logo:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    animation: animateBg 2s linear infinite;
}

@keyframes animate{
    0%{transform: translate(-50%, -50%) rotate(0deg);}
    25%{transform: translate(-50%, -50%) rotate(180deg);}
    50%{transform: translate(-50%, -50%) rotate(180deg);}
    75%{transform: translate(-50%, -50%) rotate(360deg);}
    100%{transform: translate(-50%, -50%) rotate(360deg);}
}

@keyframes animateBg{
    0%{height: 0%;}
    25%{height: 0%;}
    50%{height: 100%;}
    75%{height: 100%;}
    100%{height: 0%;}
}

.preloader.complete{
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

/* CSS code for preloader logo ends here */

#container{
    top: 10px;
    left: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pic-container{
    width: 180px;
    height: 180px;
    border-radius: 35% 0% 35% 0%;
    top: 10px;
    right: calc(50% - 100px);
    background: #2C3335;
    -webkit-animation-name: popup;
    -webkit-animation-duration: 1s;
    animation-name: popup;
    animation-duration: 1s;
}

#pic{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 45% 0% 45% 0%;
    margin: 5px 5px 5px 5px;
    background-image: url("profile-pic.jpg");
    background-size: 180px;
    background-repeat: no-repeat;
}

@-webkit-keyframes popup{
    from {width: 0px; height: 0px}
    to {width: 180px; height: 180px}
}

@keyframes popup{
    from {width: 0px; height: 0px}
    to {width: 180px; height: 180px}
}

#info{
    width: 100%;
    margin: 0;
    background: white;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 2;
}

section{
    background: #2C3335;
}

#personal-info, #other-info{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#academic, #experience, #achievements{
    padding: 0px 10px 10px 10px;
}

h2{
    margin: 10px 0 10px 0;
    padding: 0px 5px 0px 5px;
    background: white;
    color: #2C3335;
    border-radius: 5px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

/* Page setting for smaller screens */

@media only screen and (max-width: 768px) {
    #info {
        flex-direction: column;
    }
    
    #pic-container, #pic{
        width: 100px;
        height: 100px;
        background-size: 100px;
        margin: auto;
    }
    
    #pic{
        width: calc(100% - 7px);
        height: calc(100% - 7px);
        margin-top: 3px;
    }
    
    @-webkit-keyframes popup{
        from {width: 0px; height: 0px}
        to {width: 100px; height: 100px}
    }

    @keyframes popup{
        from {width: 0px; height: 0px}
        to {width: 100px; height: 100px}
    }
}

footer{
    font-size: 14px;
}