html{
    display: none;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

div{
    margin: 10px;
}

#container{
    top: 10px;
    left: 10px;
    background: white;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#leaf-container{
    width: 180px;
    height: 180px;
    border-radius: 35% 0% 35% 0%;
    top: 10px;
    right: calc(50% - 100px);
    background: #2C3335;
    -webkit-animation-name: popup;
    -webkit-animation-duration: 1s;
    animation-name: popup;
    animation-duration: 1s;
}

#leaf{
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    border-radius: 45% 0% 45% 0%;
    margin: 5px 5px 5px 5px;
    background-image: url("profile-pic.jpg");
    background-size: 180px;
    background-repeat: no-repeat;
}

@-webkit-keyframes popup{
    from {width: 0px; height: 0px}
    to {width: 180px; height: 180px}
}

@keyframes popup{
    from {width: 0px; height: 0px}
    to {width: 180px; height: 180px}
}

#info{
    width: 100%;
    margin: 0;
    background: white;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-grow: 2;
}

section{
    background: #2C3335;
}

#personal-info, #other-info{
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}

#academic, #experience, #achievements{
    padding: 0px 10px 10px 10px;
}

h2{
    margin: 10px 0 10px 0;
    padding: 0px 5px 0px 5px;
    background: white;
    color: #2C3335;
    border-radius: 5px;
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    #info {
        flex-direction: column;
    }
    
    #leaf-container, #leaf{
        width: 100px;
        height: 100px;
        background-size: 100px;
        margin: auto;
    }
    
    #leaf{
        width: calc(100% - 7px);
        height: calc(100% - 7px);
        margin-top: 3px;
    }
    
    @-webkit-keyframes popup{
        from {width: 0px; height: 0px}
        to {width: 100px; height: 100px}
    }

    @keyframes popup{
        from {width: 0px; height: 0px}
        to {width: 100px; height: 100px}
    }
}

footer{
    font-size: 14px;
}